<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title><%= title %> • Simple Store</title>
  </head>
  <body class="container">
    <%- include('../partials/nav.ejs') %>

    <main class="content">
      <%- body %>
    </main>

    <script src="/js/app.js"></script>
  </body>
</html>
